@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular.otf") format("opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "CalibriRegular";
  src: url("../fonts/CalibriRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "StMarieThin";
  src: url("../fonts/StMarieThin.otf") format("opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Bebas";
  src: url("../fonts/Bebas.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
