@mixin MyriadPro-Regular () {
    font-family: 'MyriadProRegular', Arial, sans-serif;
}

@mixin Calibri-Regular () {
    font-family: 'CalibriRegular', Arial, sans-serif;
}

@mixin StMarieThin () {
    font-family: 'StMarieThin', Arial, sans-serif;
}

@mixin Bebas () {
    font-family: 'Bebas', Arial, sans-serif;
}