@import "_mixins";
@import "_variables";

body {
    height: 100%;
}

html {
    position: relative;
    min-height: 100%;
}

.main-header-wrapper {
    width: 100%;
    height: 128px;
    position: fixed;
    top: 0;
    z-index: 1;
    background: white;

    .main-header {
        &__logo {
            width: 300px;
            margin: 0;
            float: left;

            img {
                margin: 8px 0 0 18px;
                float: left;
            }

            .logo-text {
                width: 150px;
                max-height: 128px;
                float: right;
                margin-top: 15px;

                span {
                    color: $color_brand;
                }

                :last-child {
                    @include Bebas;
                    color: $color_brand-menu;
                }
            }
        }

        .main-navigation {
            width: 600px;
            float: right;

            ul {
                overflow: hidden;
                margin-top: 20px;


                li {
                    list-style: none;
                    display: table-cell;
                    vertical-align: bottom;

                    a {
                        text-align: center;
                        margin-left: 60px;
                        &:hover {
                            .menu-icon {
                                background-position: bottom;
                            }
                        }

                        .menu-icon {
                            background-position: top;
                        }

                        .menu-home {
                            width: 54px;
                            height: 46px;
                            background: url("../img/home-icon.png");
                        }

                        .menu-about {
                            width: 22px;
                            height: 44px;
                            background: url("../img/about-icon.png");
                        }

                        .menu-work {
                            width: 42px;
                            height: 42px;
                            background: url("../img/work-icon.png");
                        }

                        .menu-blog {
                            width: 40px;
                            height: 40px;
                            background: url("../img/blog-icon.png");
                        }

                        .menu-contact {
                            width: 49px;
                            height: 33px;
                            background: url("../img/contact-icon.png");
                        }

                        span {
                            display: block;
                            margin-top: 8px;
                            color: $color_brand-menu;
                        }
                    }
                }
            }
        }
    }
}

.content-wrapper {
    margin-bottom: 70px;

    .inform {
        height: 400px;
        margin-top: 128px;
        border-top: 4px solid $color_brand;
        border-bottom: 4px solid $color_brand;
        background: url("../img/big-orange-bg.png");
        background-size: cover;

        .wrap {
            position: relative;

            button {
                @include Bebas;

                position: absolute;
                opacity: 0.7;
                padding: 10px 10px 10px 20px;
                font-size: 36px;
                border: none;
                max-height: 67px;
                max-width: 500px;
                overflow: hidden;

                &:hover {
                    outline: 5px double $color_brand;
                }
            }

            :first-child {
                top: 130px;
                left: 8px;
                background: black;
                color: $color_brand;
            }

            :last-child {
                top: 223px;
                left: 0;
                background: $color_brand-menu;
                color: black;
            }
        }
    }

    .content-inform {
        &__column {
            width: 25%;
            display: block;
            float: left;

            p {
                @include MyriadPro-Regular;
                padding: 35px 20px 0;
                font-size: 14px;
                max-height: 390px;
                overflow: hidden;
            }

            a {
                display: block;
                max-width: 150px;
                float: right;
                margin: 8px 5px 20px 0;
                color: $color_brand;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .content-inform,
    .main-content {
        margin: 0 auto;
        max-width: 1200px;
        overflow: hidden;
        box-sizing: border-box;

        &__column {
            display: inline-block;
            vertical-align: top;
            box-sizing: border-box;
            margin-right: -4px;
        }
    }

    .main-content-wrapper {
        h4 {
            width: 270px;
            margin-bottom: 40px;
        }

        .main-content {
            text-align: center;

            &__column {
                width: 33%;

                &:hover {
                    .main-content__user-foto {
                        transform: scale(1.1);
                    }
                }
            }

            &__user-name {
                @include MyriadPro-Regular;

                color: $color_brand-menu;
                margin: 0 auto;
                margin-bottom: 28px;
                text-align: center;

                span {
                    color: $color_brand;
                }
            }

            &__user-foto {
                width: 310px;
                height: 310px;
                margin: 0 auto;
                margin-bottom: 28px;
                border: 10px solid $color_brand;
                border-radius: 50%;
                transition: .5s;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }

            &__text {
                @include Calibri-Regular;
                color: $color_brand-menu;
                margin-bottom: 80px;
                max-height: 110px;
                overflow: auto;
            }
        }
    }

    h4 {
        margin: 0 auto;

        a {
            @include StMarieThin;

            font-size: 40px;
            display: block;
            text-align: center;
            color: $color_brand;
            border-bottom: 2px solid $color_brand;


            &:hover {
                border-bottom: none;
                margin-bottom: 42px;
            }
        }
    }

    .main-feedback {
        h4 {
            width: 375px;
            margin-bottom: 65px;

            &:hover {
                margin-bottom: 67px;
            }
        }

        &__form {

            label {
                span {
                    @include StMarieThin;

                    color: $color_brand;
                    font-size: 24px;
                }

                input,
                textarea {
                    @include StMarieThin;
                    float: right;
                    margin-bottom: 20px;
                    width: 1070px;
                    max-width: 1070px;
                    padding-left: 5px;
                    border: 1px solid #d2d0cf;
                    border-left: 5px solid #d2d0cf;
                }

                input {
                    height: 35px;
                }

                textarea {
                    height: 90px;
                    min-width: 1070px;
                    min-height: 90px;
                    padding-top: 5px;
                }

                .submit {
                    @include StMarieThin;

                    font-size: 30px;
                    width: 177px;
                    height: 48px;
                    border: none;
                    background: $color_brand;
                    color: white;
                    border-bottom: 2px solid #cc830f;

                    &:hover {
                        background: #cd9338;
                    }
                }
            }
        }
    }
}

.main-footer {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    background: $color_brand;
    text-align: center;

    p {
        @include StMarieThin;

        height: 40px;
        font-size: 33px;
        color: white;
        margin-top: 17px;
    }
}

.wrap {
    width: 1190px;
    height: 100%;
    margin: 0 auto;
}

.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}